
#app
  background-color: #636363 ;

#root
  background: #636363;


.row
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    right: 0;
    text-align: center;
    flex-wrap: wrap;


.left
    display: inline-block;
    text-align: left;


.right
    display: inline-block;
    text-align: right;


.center
    display: inline-block;
    margin: 500px auto;

.col-4
    width: 33.33%;


input
  margin-left: 5px;


.grid
  margin: .5em auto;


td
  min-width: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  bottom-padding: 0 ;

.wall
  background: black;
  bottom-padding: 0 ;


.tunnel
  background: gray;
